body{
    margin: 0;
    background: black;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.App {
    display: flex;
    flex-direction: column;
    gap: 16px;
}